@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

body 
{
    font: 400 21px/1.7 Georgia;
    padding: 0; 
    margin: 0; 
    color: #222222;
}

.container
{
    position: relative;
    width: 100%;
    padding: 0.1% 0;
}

div
{
    box-sizing: border-box;  
}

.nav
{
    visibility: hidden;
    width: 100%;
    position: absolute;
    opacity: 0;
    overflow: hidden;
}

.transition
{
    transition: all 500ms ease 0s;
}

.nav.active
{
   visibility: visible;
   opacity: 1;
}

.menu
{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: rgba(112, 112, 112, 0.5);
}

.icon
{
    color: #000;
    display: block;
    height: 48.5px;
    padding: 0 21px 0 30px;
    text-decoration: none;
    font: 500 22px Georgia;
    line-height: 50px;
}

.person_icon_img, .hobby_icon_img, .video_icon_img
{
    position: relative;
    top: 1px;
    right: 4px;
}

.person_icon_img
{
    filter: brightness(30%);
}

.person_icon
{
    margin-left: 15px;
}

.hobby_icon
{
    margin-left: 8px;
    padding-left: 39px;
    order: 1;
}

.video_icon
{
    margin-left: 7px;
    padding-left: 38px;
}

.burger
{
    display: flex;
    flex-direction: column;
    padding: 5px 0 12px ;
    align-items: center;
}

.rect
{
    background: black;
    display: inline-block;
    height: 7px;
    margin-top: 8px;
    transition: transform 500ms;
    width: 44px;
}

.rect:nth-child(2)
{
    transition-delay: 100ms;
}

.rect:nth-child(3)
{
    transition-delay: 100ms;
}

.burger.active
{
    background: rgba(112, 112, 112, 0.5);
}

.burger.active .rect:nth-child(1)
{
    transform: rotate(-45deg) translateX(-11px) translateY(11px);
}

.burger.active .rect:nth-child(2)
{
    transform: rotate(45deg);
}

.burger.active .rect:nth-child(3)
{
    transform: rotate(-45deg) translateX(10px) translateY(-10px);
}


.my_photo
{
    opacity: 1;
    z-index: 1;
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.name
{
    display: flex;
    flex-direction: column;
}

.citation
{
    margin: 24px 5%;
    text-align: center;
    font: italic 28px/1.2 Georgia;
}

.author
{
    display: block;
    font: 600 16px/1'Open Sans';
    margin: 14px 0;
}

.name_header
{
    order: -2;
    font: 700 48px 'Open Sans';
    margin: 34px auto;
}

.rectangle
{
    order: -1;
    background: #45c3aa;
    border-radius: 10px;
    width: 60px;
    height: 6px;
    margin: 0 auto;
}

.physic
{
    margin: 0 5%;
}

.header_list
{
    font: 600 24px/1.5 'Open Sans';
    color: #15a98c;
    margin: 0;
    text-align: center;
}

.favorite
{
    margin-top: 40px;
}

.favorite li
{
    margin: 6% 0 0 0;
    font: 21px/1.2 Georgia;
}

.list_writer
{
    padding: 0 0 0 21px;
    margin-left: calc( (100% - 220px) / 2 );
}

.list_film
{
    margin-top: 6.5%;
    padding: 0;
    margin-left: calc( (100% - 220px) / 2 );
    list-style: none;
}

.hobby
{

}

.hobby_header
{
    font: 400 36px 'Open Sans';
    text-align: center;
    margin: 40px 0 14px;
}

.hobby_text
{
    margin: 0 5%;
}

.ref
{
    color: #15a98b;
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 10px 0 40px 0;
    font: 400 21px Georgia;
    position: relative;
}

.ref:after
{
    content: "→";
    position: absolute;
    left: 21.6%;
    top: 3%;
}

.clear
{
    clear: both;
}

.header_loving_movies
{
    font: 400 36px/1 'Open Sans';
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.loving_movies
{
    position: relative;
    overflow: hidden;
}

.films
{
    background: #f9f9f9;
}

.carusel
{
    display: flex;
    transform: translateX( calc(100% / 2 - 142.5px - 305px * 4 ) );
    max-height: 372px;
}

.carusel.auto_height
{
    max-height: none;
}

.arrow_left, .arrow_right
{
    display: none;
}

.gradient
{
    display: flex;
    position: absolute;
    z-index: 2;
    height: 525px;
    width: 19%;
    background-image: linear-gradient(270deg,
        rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 170%);
}

.gradient_end
{
    right: 0;
    background-image: linear-gradient(90deg,
    rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 170%);
}

.gradient.active
{
    height: 1225px;
}

.film
{
    margin-right: 20px;
    width: 285px;
}

.film_header
{
    font: 700 22px 'Open Sans';
    margin-top: 14px;
}

.astral
{
    margin-left: 0;
}

.film_text
{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 0;
}

.film_text.active
{
    -webkit-line-clamp: initial;
}

.toggle_description_block
{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.toggle_description
{
    color: dodgerblue;
    font-size: 18px;
    text-decoration: underline;
}

.button
{
    background: #45c3aa;
    color: #fff;
    display: block;
    width: 202px;
    padding: 9px;
    margin: 30px auto 60px auto;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.text_me
{
    font: 300 36px 'Open Sans';
    text-transform: uppercase;
    text-align: center;
    margin: 35px 0 25px;
}

label
{
    font: 400 21px 'Open Sans';
    margin-bottom: 5px;
}

.star
{
    color: red;
}

.input_cell:focus
{
    border: 2px solid #15a98c; 
}

.input_cell
{
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 25px;
    font: 400 21px 'Open Sans';
    padding-left: 3%;
    height: 44px;
    border: 2px solid #a6a6a6;
    border-radius: 2px;
}

.country
{
    height: 45px;
    color: #555; 
    border: 2px solid #a6a6a6;
    padding-bottom: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../img/arrow_down.png) no-repeat 98% 50%;
}

label[for='sex']
{
    display: block;
    margin-bottom: 7px;
}

label[for='male'], label[for='female']
{
    font: 400 20px 'Open Sans';
}

.sms_label
{
    margin-bottom: 10px;
    font-size: 21px;
}

.sex
{
    margin-bottom: 17px;
}

.male
{
    width: 18px;
    height: 18px;
    position: relative;
    top: 1px;
    margin: 0 4px 0 1px;
}

.female
{
    width: 18px;
    height: 18px;
    position: relative;
    top: 1px;
    margin-left: 36px;
}

label[for="sms"]
{
    display: block;
}

.sms
{
    border: 2px solid #a6a6a6;
    border-radius: 2px;
    font: 400 20px 'Open Sans';
    padding: 5px;
}

.submit
{
    display: block;
    width: 220px;
    height: 50px;
    color: #fff;
    font: 400 21px Georgia;
    line-height: 50px;
    background: #15a98c;
    border-radius: 5px;
    margin: 15px auto;
    border: none;
}

.form
{
    max-width: 90%;
    margin: 0 auto 48px;
}

.footer
{
    background: #f5f5f5;
    font: 400 19px/1.4 Georgia;
    text-align: center;
    padding: 15px 5%;
}

.anchor_hobby
{
    position: relative;
    bottom: 70px;
}

.anchor_film
{
    position: relative;
    bottom: 100px;
}

.anchor_form
{
    position: relative;
    top: 40px;
}

@media screen and (min-width: 480px)
{
    article
    {
        background: url(../img/background.png) no-repeat center -5%;
    }
}

@media screen and (min-width: 768px)
{
    .favorite
    {
        display: inline-block;
        margin-top: 5%;
    }

    .writers
    {
        margin-left: 15%;
    }

    .movies
    {
        float: right;
        margin-right: 15%;
    }

    .list_writer, .list_film
    {
        margin-left: 5%;
    }

    .form
    {
        width: 540px;
    }

    .footer
    {
        padding: 0;
        height: 70px;
        line-height: 70px;
    }
}

@media screen and (min-width: 1024px)
{
    .about
    {
        width: 960px;
        margin: 0 auto;
    }

    .burger
    {
        display: none;
    }

    .nav
    {
        display: block;
        position: fixed;
        z-index: 1;
        margin: 0 48px;
        top: 0;
        visibility: visible;
        opacity: 1;
    }

    .nav.hidden
    {
        visibility: hidden;
        opacity: 0;
    }

    .nav:before
    {
        content: "";
        display: block;
        height: 50px;
        width: 100%;
        background: rgba(196, 196, 196, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .menu
    {
        flex-direction: row;
        background: none;
        height: 50px;
    }

    .menu li
    {
        float: left;
    }

    .menu_about
    {
        background: #15a98c;
        position: relative;
        bottom: 1px;
    }

    .icon
    {
        color: #000;
        display: block;
        height: 50px;
        padding: 0 21px 0 25px;
        text-decoration: none;
        text-align: center;
        font-size: 21px;
        line-height: 50px;
    }

    .person_icon
    {
        margin-left: 0;
    }

    .hobby_icon
    {
        order: 0;
    }

    .icon:hover
    {
        filter: brightness(100%);
        background: rgb(21, 169, 140);
    }

    .my_photo
    {
        display: inline;
        margin: 15% 5% 0 5%;
    }

    .name
    {
        display: block;
        float: right;
        width: 50%;
        margin: 23% 5% 0 0;
    }

    .citation
    {
        color: #fff;
        text-align: left;
        width: 100%;
        margin: 24px 0;
    }

    .rectangle
    {
        display: inline-block;
    }

    .name_header
    {
        display: block;
        font: 700 48px 'Open Sans';
        margin: 7% auto 0;
    }

    .rectangle
    {
        order: 0;
        background: #45c3aa;
        border-radius: 10px;
        width: 60px;
        height: 6px;
        margin: 0 auto;
    }

    .physic
    {
        width: 50%;
        float: right;
        margin: 0 5% 7% 1%;
    }

    .header_list
    {
        text-align: left;
    }

    .writers
    {
        display: block;
        float: left;
        margin-left: 5%;
    }

    .movies
    {
        display: block;
        float: left;
        margin: 3% 0 0 5%;
    }

    .hobby_header
    {
        text-align: left;
        margin: 0;
        position: relative;
        bottom: 10px;
        right: 2px;
    }

    .hobby
    {
        width: 50%;
        float: right;
        margin: 0 5% 6% 1%;
    }

    .hobby_text
    {
        margin: 0 0 7% 0;
    }

    .arrow_left, .arrow_right
    {
        display: inline-block;
        position: absolute;
        top: 185px;
        z-index: 3;
        width: 4.5%;
        max-width: 70px;
    }

    .arrow_left
    {
        left: 8%
    }
    .arrow_right
    {
        right: 8%;
    }

    .arrow_left:hover, .arrow_right:hover
    {
        filter: brightness(110%);
        cursor: pointer;
    }
}

@media screen and (min-width: 1366px)
{
    body
    {
        font: 400 19px/1.7 Georgia;
    }

    .icon, .favorite li, .ref, .submit
    {
        font-size: 19px;
    }

    .film_text
    {
        font: 400 16px/1.8 Georgia;
    }

    .footer
    {
        font-size: 16px;
    }

    label, .input_cell
    {
        font-size: 20px;
    }

    label[for="male"], label[for="female"]
    {
        font-size: 18px;
    }

    article
    {
        background: url(../img/background.png) no-repeat center 0;
        background-size: 112.4%;
    }

    .menu, .nav:before
    {
        height: 51px;
    }

    .icon
    {
        line-height: 51px;
        height: 51px;
    }

    .hobby_icon_img
    {
        top: 2px;
        right: 5px;
    }

    .video_icon_img
    {
        right: 5px;
    }

    .hobby_icon
    {
        padding-left: 27px;
    }

    .nav, .my_photo, .favorite, .list_writer, .list_film,
    .icon
    {
        margin-left: 0;
    }

    .my_photo
    {
        margin-top: 26.9%;
    }

    .name
    {
        width: 55%;
        margin: 27% 4.1% 0 0;
    }

    .citation
    {
        line-height: 1.5;
    }

    .author
    {
        margin: 2.9% 0.7%;
    }

    .name_header
    {
        margin-top: 15.6%;
        margin-left: 0.1%;
    }

    .rectangle
    {
        position: relative;
        right: 3px;
        top: 4px;
    }

    .writers
    {
        margin-top: 3.4%;
    }

    .movies
    {
        margin-top: 2.9%;
    }

    .list_film li
    {
        margin-top: 6.3%;
    }

    .physic
    {
        width: 53%;
        float: right;
        position: relative;
        bottom: 2px;
        margin: 0 6.4% 4.8% 0;
    }

    .hobby
    {
        width: 58%;
        float: right;
        margin: 0 1.4% 2.05% 0;
    }

    .hobby_text
    {
        margin-top: 0.3%;
        margin-bottom: 8.3%;
    }

    .ref
    {
        justify-content: initial;
        margin: 10px 0 40px 0;
    }

    .header_loving_movies
    {
        text-align: initial;
        width: 1200px;
        margin: 2% auto 1.9%;
    }

    .film_header
    {
        position: relative;
        right: 2px;
        margin: 4.7% 0 6.4% 0;
    }

    .astral
    {
        right: 0;
    }

    .loving_movies
    {
        position: initial;
        width: 1200px;
        margin: 0 auto;
    }

    .carusel
    {
        max-height: none;
        transform: translateX( calc(100% / 2 - 302.4px * 4 ) );;
    }

    .gradient
    {
        width: 25%;
        height: 100%;
    }

    .gradient_start
    {
        left: 0;
    }

    .button
    {
        margin: 2.8% auto 3% auto;
        position: relative;
        right: 0.5%;
    }

    .text_me
    {
        margin: 2.05% 0 3.4% 0;
        position: relative;
        right: 0.35%;
    }

    .text_me:before, .text_me:after
    {
        content: "";
        background: #c4c4c4;
        width: 10.4%;
        height: 1px;
        display: inline-block;
        margin: 0.6% 1.4% 0.6% 0;
    }

    .text_me:after
    {
        margin: 0.6% 0 0.6% 1.25%;
    }

    label
    {
        position: relative;
        right: 1px;
        top: 1px;
    }

    .input_cell
    {
        height: 50px;
        margin: 0.5% 0 4.6%;
        font-size: 18px;
    }

    .country
    {
        margin: 0.8% 0 7.8%;
        background-position: 96.9% 52%;
    }

    label[for='sex']
    {
        margin-bottom: 1.5%;
    }

    .male, .female
    {
        width: 11px;
        height: 11px;
    }

    label[for='male']
    {
        left: 0.5px;
    }

    label[for='female']
    {
        left: 3px;
    }

    .sex
    {
        margin-bottom: 6.8%;
    }

    .sms_label
    {
        margin-bottom: 7px;
        font-size: 20px;
    }

    .sms
    {
        height: 150px;
    }

    .submit
    {
        margin: 9.2% 0 0 0;
    }

    .footer
    {
        line-height: 66px;
        padding-right: 22px;
    }
}

@media screen and (min-width: 1600px)
{
    .carusel
    {
        max-height: none
    }

    .film_text
    {
        display: block;
        -webkit-box-orient: initial;
        -webkit-line-clamp: initial;
        text-overflow: initial;
        overflow: initial;
        margin-bottom: 0;
    }

    .toggle_description_block
    {
        display: none;
    }

    .gradient
    {
        height: 1225px;
    }

    .loving_movies
    {
        position: initial;
    }

    .arrow_left
    {
        left: calc((100% - 1200px) / 2 - 100px);
    }

    .arrow_right
    {
        right: calc((100% - 1200px) / 2 - 100px);
    }

    /*Подогнать от ширины 1366px элементы так, чтоб совпадали с маектом*/
    /*Избавиться от селекторов-тегов и подчистить стили в js*/
}
