body 
{
    font-family: Georgia, sans-serif; /*Запрашиваем на компьютере пользователя шрифт Arial, иначе загружаем любой без засечек*/
    padding: 0; /*Обнуляем уст-е браузером по-у оступы внутрь эл-а*/
    margin: 0; /*отсуп наружу эл-а(по периметру)*/
    color: #555;
}

div
{
    box-sizing: border-box;        /*Записать*/     
}

.container
{
    width: 1000px;
    margin: 0 auto;
}

.photo
{
    width: 330px;
    height: 350px;
    margin: 111px 0 0 20px;
}

.quote 
{
    display: inline;             /*Записать*/
    position: absolute;          /*Записать*/
}

.quotes
{
    position: absolute;
    margin: 161px 0 0 60px;
}

.quote p
{
    margin: 230px 0 0 120px;
    font: Italic 28px/1.5 Georgia;
    color: #848484
}

.quote b
{
    margin: 0 0 0 124px;
    font: Bold 16px/2.9 'Open Sans';
    color: #333
}

.favorite strong
{
    width: inherit;
    margin: 0;
    font: Bold 24px/1.5 'Open Sans';
    color: #15a98c
}

.writers
{
    width: 260px;
    float: left;
    margin: 39px 0 0 20px;
}

ul
{
    padding: 0 0 0 21px;
}

li
{
    margin: 15px 0 0 0;
    font: 19px/1.15 Georgia;
}

.text1
{
    float: right;
    position: relative;
    margin: 39px 83px 0 0;
}

.text1 p
{
    font: 19px/1.7 Georgia;
    margin: 39px 0 0 0;
}

h1
{
    font: Bold 48px 'Open Sans';
    margin: -11px 0 0 4px;
}

.rectangle
{
    background: #45c3aa;
    border-radius: 10px;
    width: 60px;
    height: 6px;
    margin: 21px 0 0 0;
}

.movies
{
    width: 260px;
    float: left;
    margin: 34px 0 0 20px;
}

ol
{
    padding: 0 0 0 20px;
}

.hobby
{
    float: right;
    margin: 0 35px 135px 0;    
}

h2
{
    font: Bold 36px 'Open Sans';
    margin: 43px 0 0 -2px;
}

.hobby p
{
    font: 19px/1.7 Georgia;
    margin: 12px 0 0 0;
}

.ref
{
    display: block;
    color: #15a98b;
    text-decoration: none;
    font: 19px Georgia;
    margin: 46px 0 0 0;
}

.ref:hover
{
    color: #098d72;
}